* {box-sizing: border-box}
body { margin: 0; padding: 0; }

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Alegreya', serif;
$border-color: gainsboro;
.container {
    margin: 10px auto 0;
    width: 400px;
    height: calc(100vh - 10px);
}

#HeaderArea {
    height: 50px;
    text-align: center;
    font-family: $secondary-font;
    color: darkcyan;
}

#ChatList {
    height: 80%;
    border: 1px solid $border-color;
    overflow-y: scroll;
    border-radius: 2px;

    & .chat-msg-wrapper {
        padding: 10px;
        margin: auto 10px;

        &:hover {
            background-color: #fbfbfb;
        }

        & > p.chat-msg { 
            margin: 10px auto;
            font-size: 14px;
            font-family: $primary-font;
        }

        .msg-meta-info {
            font-size: 9px;
            color: gray;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: $primary-font;

            & .msg-username:before {
                font-family: FontAwesome;
                content: "\f007";
                color: darkgray;
                font-size: 10px;
                vertical-align: baseline;
                font-style: normal;
                font-weight: normal;
                padding-right: 0.5em;
            }

            & .msg-time:before {
                font-family: FontAwesome;
                content: "\f017";
                color: darkgray;
                font-size: 10px;
                vertical-align: baseline;
                font-style: normal;
                font-weight: normal;
                padding-right: 0.5em;
            }
        }
    }

    & .chat-msg-wrapper:not(:last-child) {
        border-bottom: 1px solid ghostwhite;
    }
}

#MsgForm {
    margin-top: 20px;

    #ChatMsgInput {
        width: 330px;
        height: 50px;
        font-family: $primary-font;
        font-size: 14px;
        border: 1px solid $border-color;
        &:focus {
            outline: 1px solid $border-color;
        }
    }

    #SendMsgBtn {
        height: 50px;
        width: 65px;
        vertical-align: top;
        font-size: 20px;
        color: gray;
        font-family: $primary-font;
        border: 1px solid $border-color;
        background-color: white;

        &:hover { cursor: pointer; }
    }
}

