.container {
    width: 600px;
    height: 800px;
}

#ChatList {
    height: 600px;
    border: 1px solid saddlebrown;
}

#MsgForm {
    background-color: blanchedalmond;
    width: 400px;
}

#ChatMsgInput {
    margin-top: 20px;
    width: 300px;
}