<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.min.css">
</head>
<body>
    <div class="container">
        <header id="HeaderArea">
            <h1>Shoutbox</h1>
        </header>
        <div id="ChatList"></div>
        <section id="MsgForm">
            <textarea name="message" id="ChatMsgInput"></textarea>
            <button id="SendMsgBtn">Send</button>
        </section>
    </div>

    <script src="/vendor/jquery-2.2.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>